@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@900&display=swap');
:root {
  --primary: #ff4f59;
  --primary-100: #ff9ca1;
  --secondary: #80282c;
}

body {
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-mono {
  font-family: 'Mulish', sans-serif;
}

.text-bg-primary {
  color: var(--primary);
}

.text-bg-secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.-z-1 {
  z-index: -1;
}

.border-primary {
  border-color: var(--primary);
}

.vertical-stripes {
  background: repeating-linear-gradient(
    90deg,
    var(--secondary),
    transparent 1px 16px
  );
}

.horizontal-stripes {
  background: repeating-linear-gradient(
    180deg,
    var(--secondary),
    transparent 1px 16px
  );
}
