@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@900&display=swap');
:root {
  --primary: #ff4f59;
  --primary-100: #ff9ca1;
  --secondary: #80282c;
  --secondary-100: #804e50;
}

body {
  font-size: 18px;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-mono {
  font-family: 'Mulish', sans-serif;
}

.text-bg-primary {
  color: var(--primary);
}

.text-bg-primary-100 {
  color: var(--primary-100);
}

.text-bg-secondary {
  color: var(--secondary);
}

.text-bg-secondary-100 {
  color: var(--secondary-100);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-100 {
  background-color: var(--secondary-100);
}

.-z-1 {
  z-index: -1;
}

.border-primary {
  border-color: var(--primary);
}

.border-secondary {
  border-color: var(--secondary);
}

.shadow-primary {
  box-shadow: 0.3rem 0.3rem var(--primary);
}

.shadow-secondary {
  box-shadow: 0.3rem 0.3rem var(--secondary);
}

.vertical-stripes {
  background: repeating-linear-gradient(
    90deg,
    var(--secondary),
    transparent 1px 16px
  );
}

.horizontal-stripes {
  background: repeating-linear-gradient(
    180deg,
    var(--secondary),
    transparent 1px 16px
  );
}

@media only screen and (min-width: 426px) {
  .xs\:block {
    display: block;
  }

  .xs\:hidden {
    display: none;
  }
}
